header {
  padding-top: 180px;
  padding-bottom: 190px;
}
header h1 {
  margin: 0;
}
.contact-text {
  position: relative;
}
.contact-text .header-text {
  position: absolute;
  top: 100%;
  transform: translateY(18px);
}
header .row {
  align-items: center;
}
header .row > div:last-of-type {
  max-width: 393px;
}
header p,
header .contact-tel {
  padding-left: 30px;
}
header .contact-tel {
  font-family: "Myriad Pro Regular";
  font-size: 20px;
  color: var(--dark2);
}
header .row > div:last-of-type {
  display: flex;
  justify-content: flex-end;
}
header .contact-form {
  padding-right: 25px;
}
form {
  display: flex;
  flex-direction: column;
}
header .header-text {
  max-width: 658px;
  margin-bottom: 0;
}
/* form */
.contact-form {
  width: 100%;
}
input,
label {
  display: block;
}
label {
  font-family: "ABC Whyte";
  font-size: 15px;
  letter-spacing: -0.05em;
  color: var(--dark2);
  margin-bottom: 8px;
  font-weight: 500;
}
input:not(.shadow-btn),
textarea {
  height: 60px;
  background-color: #e0d8ce;
  border: 1px solid #060706;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 18px;
  font-size: 22px;
  font-family: "ABC Whyte Inktrap";
  font-weight: 300;
  outline: 0;
}
textarea {
  height: 125px;
  padding-top: 5px;
}
form .shadow-btn {
  max-width: 100%;
  height: 60px;
  margin-top: 30px;
}
/* responsive */
@media screen and (max-width: 1599px) {
  input:not(.shadow-btn) {
    height: 50px;
  }
}
@media screen and (max-width: 1399px) {
  header .row {
    align-items: center;
  }
  header .header-text {
    max-width: 550px;
  }
}
@media screen and (max-width: 1199px) {
  header h1 {
    font-size: 70px;
  }
  header .header-text {
    font-size: 16px;
    max-width: 450px;
  }
  header {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .shadow-btn {
    width: 686px;
  }
}
@media screen and (max-width: 991px) {
  .message {
    margin-bottom: 50px;
  }
  header .contact-form {
    margin-top: 50px;
    padding-right: 0;
  }
  header .row > div:last-of-type {
    max-width: 100%;
  }
  .contact-text .header-text {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .shadow-btn {
    width: auto;
  }
}
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 60px;
  }
  .shadow-btn {
    margin-right: 10px;
  }
}
@media screen and (max-width: 479px) {
  header {
    padding-top: 42px;
  }
  header h1 {
    font-size: 55px;
  }
  header .header-text {
    font-size: 16px;
    padding-left: 25px;
  }
  header .contact-tel {
    font-size: 18px;
  }
}
@media screen and (max-width: 374px) {
  header {
    padding-top: 18px;
  }
  header h1 {
    font-size: 33px;
    margin-bottom: 20px;
  }
  .contact-form {
    margin-top: 30px;
  }
  header .header-text {
    font-size: 12px;
    padding-left: 25px;
  }
  header .contact-tel {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .shadow-btn {
    position: absolute;
    bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .shadow-btn {
    width: 334px;
  }
}
@media screen and (min-width: 1400px) {
  .shadow-btn {
    width: 358px;
  }
}
