/* variable */
:root {
  --dark: #242220;
  --dark2: #1a1818;
  --dark3: #030404;
}
/* media queries */
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1415px !important;
  }
}
/* text */
html,
body {
  min-height: 100%;
}
h1,
h2,
h3,
h4,
a,
html {
  line-height: 1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition: 300ms all ease-in-out;
}
a:hover {
  color: inherit;
  opacity: 0.5;
}
/* buttons */
.shadow-btn {
  font-size: 23px;
  font-family: "ABC Whyte Inktrap";
  color: var(--dark3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d8ce;
  border: 1px solid #060706;
  box-shadow: 10px 10px 0px 0px rgba(6, 7, 6, 1);
}
@media screen and (min-width: 768px) {
  .shadow-btn:not(.bottom-section .shadow-btn):not(.contact-form .shadow-btn) {
    position: absolute;
    bottom: 50px;
    width: 393px;
  }
}
@media screen and (max-width: 374px) {
  .shadow-btn {
    box-shadow: 5px 5px 0px 0px rgb(6 7 6);
  }
}
@media screen and (max-width: 1199px) {
  .shadow-btn {
    font-size: 20px;
  }
}
/* general */
body {
  background-image: url("../images/Background.jpg");
  background-size: contain;
  position: relative;
  min-height: 100vh;
}
/* nav */
nav .nav-wrapper,
nav .nav-wrapper ul {
  display: flex;
}
nav .nav-wrapper {
  justify-content: space-between;
  align-items: center;
}
nav {
  font-family: "ABC Whyte Inktrap";
  padding-top: 65px;
}
nav ul li:not(:first-of-type) {
  margin-left: 40px;
}
nav .logo {
  color: var(--dark);
  font-size: 26px;
  letter-spacing: -0.05em;
}
nav ul li a {
  color: #1a1818;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  nav .nav-wrapper {
    display: block;
    text-align: center;
  }
  nav ul li:not(:first-of-type) {
    margin-left: 0;
  }
  nav ul li a:not(.curr) {
    opacity: 0.5;
  }
  nav .nav-wrapper ul {
    justify-content: space-between;
    margin-top: 15px;
  }
}
@media screen and (max-width: 575px) {
  nav .container {
    padding: 0 35px;
  }
}
@media screen and (max-width: 374px) {
  nav .logo {
    font-size: 20px;
  }
  nav ul li a {
    font-size: 15px;
  }
  nav .nav-wrapper ul {
    margin-top: 7px;
  }
  nav {
    padding-top: 25px;
  }
}
/* header */
header h1 {
  font-family: "ABC Whyte Book";
  font-size: 90px;
  letter-spacing: -0.05em;
}
header .header-text {
  font-size: 20px;
  font-family: "ABC Whyte Inktrap";
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  header .header-text {
    line-height: 1.58;
  }
}
