body {
  display: flex;
  flex-direction: column;
}
header {
  padding-top: 105px;
  display: flex;
  flex-grow: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header .row {
  align-items: flex-end;
}
header .header-img {
  max-width: 434px;
  margin-left: auto;
}
header .header-img img {
  max-height: 423px;
  width: 100%;
  object-fit: cover;
}
header h1 {
  margin-bottom: 30px;
  position: relative;
  right: 50px;
}
header .header-text {
  max-width: 802px;
  padding-top: 18px;
  margin-bottom: 0;
}
.services {
  margin-top: 60px;
  margin-bottom: 60px;
}
.services ul {
  display: flex;
}
.services ul li {
  width: 25%;
  height: 134px;
}
.services ul > * + * {
  margin-left: 25px;
}
.services ul li a {
  font-family: "ABC Whyte Book";
  font-size: 30px;
  color: var(--dark2);
  letter-spacing: -0.05em;
  background: #e0d8ce;
  border: 1px solid #060706;
  box-shadow: 30px 30px 0px 0px rgb(6 7 6);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.services a:hover {
  opacity: 1;
}
@media screen and (max-width: 1599px) {
  header h1 {
    position: static;
  }
  header .header-text {
    padding-left: 50px;
    max-width: 56%;
  }
  .services ul li a {
    box-shadow: 15px 15px 0px 0px rgb(6 7 6);
  }
}
@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1199px) {
  header .header-text {
    font-size: 16px;
  }
  header h1 {
    font-size: 80px;
  }
  .services ul li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  header h1 {
    font-size: 65px;
  }
  header .header-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding-top: 90px;
  }
  .services {
    margin-bottom: 50px;
  }
  header h1 {
    margin: 0;
  }
  header .header-img {
    margin-left: auto;
    margin-right: auto;
    padding: 0 23px;
  }
  .services ul {
    flex-wrap: wrap;
  }
  .services ul li {
    margin-left: 0;
    margin-right: 15px;
    width: 100%;
  }
  .services ul li:not(:first-of-type) {
    margin-top: 25px;
  }
  .services ul li {
    height: 90px;
  }
  header .row > div:first-of-type {
    order: 2;
  }
  header .header-text {
    max-width: 100%;
  }
  .header-img {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 55px;
  }
}
@media screen and (max-width: 479px) {
}
@media screen and (max-width: 374px) {
  header {
    padding-top: 25px;
  }
  header .header-img {
    max-width: 243px;
    margin-bottom: 17px;
  }
  header h1 {
    font-size: 33px;
  }
  header .header-text {
    font-size: 12px;
  }
  .services {
    margin-top: 35px;
  }
  .services ul li {
    height: 43px;
    margin-right: 7px;
  }
  .services ul li a {
    font-size: 13px;
    box-shadow: 7px 7px 0px 0px rgb(6 7 6);
  }
  .services ul li:not(:first-of-type) {
    margin-top: 17px;
  }
}
